<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>{{title}}</title>
</head>
<body>
{% block content %}
<h1>Зашифруйте и раcшифруйте</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.text_input.label }}<br>
        {{ form.text_input(class="form-control") }}<br>
        {% for error in form.text_input.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>
    <div class="buttons">
        <div>{{ form.caesar(type="submit", class="btn btn-primary") }}</div>
        <div>{{ form.submit2(type="submit", class="btn btn-primary") }}</div>
        <div>{{ form.submit3(type="submit", class="btn btn-primary") }}</div>
        <div>{{ form.submit4(type="submit", class="btn btn-primary") }}</div>
    </div>
</form>
{% endblock %}
</body>
</html>
